The following was done in order to get the data into the correct date/time format for MySQL

In [1]:
#Install pandas package
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#Import pandas library
import pandas as pd

In [3]:
#Performed this process for both the orders and rota tables
df = pd.read_csv('/content/orders.csv')

In [18]:
# Use pandas to read the CSV file located at the specified path into a DataFrame named df.
df = pd.read_csv('/rota.csv')

In [22]:
# Print the first 5 rows of the DataFrame. This is useful for getting a quick look at the data.
print(df.head())

   row_id rota_id       date shift_id staff_id
0       1  ro0001 2022-10-08   sh0005   st0001
1       2  ro0001 2022-10-08   sh0005   st0002
2       3  ro0001 2022-10-08   sh0005   st0009
3       4  ro0001 2022-10-08   sh0005   st0010
4       5  ro0001 2022-10-08   sh0006   st0001

In [21]:
# Convert the 'date' column of the DataFrame to datetime format. If any errors are encountered, they are coerced, meaning that invalid parsing will be set as NaN.
df['date'] = pd.to_datetime(df['date'], errors='coerce')

<ipython-input-21-28c687b11e46>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [15]:
# Drop the column named "Unnamed: 3" from the DataFrame. The 'axis=1' parameter indicates that we want to drop a column, not a row.
df = df.drop("Unnamed: 3", axis=1)

In [24]:
# Write the DataFrame to a new CSV file named 'transformed_data_rota.csv'. The 'index=False' parameter prevents pandas from writing row indices.
df.to_csv('transformed_data_rota.csv', index=False)

# Print the first 5 rows of the DataFrame again to confirm that the "Unnamed: 3" column has been dropped.
print(df.head())

   row_id rota_id       date shift_id staff_id
0       1  ro0001 2022-10-08   sh0005   st0001
1       2  ro0001 2022-10-08   sh0005   st0002
2       3  ro0001 2022-10-08   sh0005   st0009
3       4  ro0001 2022-10-08   sh0005   st0010
4       5  ro0001 2022-10-08   sh0006   st0001